/* https://editor.p5js.org/andytilia/sketches/clR7Rww1z */

html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent; /* disable blue highlight on tap, https://stackoverflow.com/a/30319808 */
  font-family: Georgia;
}

body {
  margin: 0;
  background-color: white;
  display: flex;
}

main {
  width: 100%;
  display:flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

#ui {
  margin: 5px;
  padding: 5px 20px 5px 5px;
}

#combinations-container {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  height: 90%;
  gap: 10px;
}
